* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 1.5rem;
}

/*! Navigation */

nav {
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
}

#logo {
  width: 180px;
}

/* Login form */
nav form input {
  text-align: center;
  border-radius: 30px;
  padding: 0.5rem;
  width: 120px;
  outline: none;
  border: 1px solid #fff;
  color: #444;
  font-size: 14px;
  transition: all 0.3s;
  letter-spacing: 2px;
}

nav form input:focus {
  transition: all 0.3s;
  border: 1px solid #7b7b7b;
}

/* button */

#loginBtn {
  border: none;
  background: none;
  font-size: 21px;
  color: #444;
  cursor: pointer;
}

/*! main part */
.middleone {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  margin-left: 10vh;
  opacity: 0;
}
#topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem 2rem 0rem;
}
#time {
  color: #7b7b7b;
  font-size: 23px;
}
#total {
  font-size: 47px;
}
#total p{
  display: inline-block;
}

/* movement record */
.movement {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 600px;
  overflow-y: scroll;
  background-color: #fff;
  border-radius: 1rem;
}

.movementRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 15%;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  margin-left: 5%;
}

.movementType {
  font-size: 0.73rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  padding: 0.3rem 1rem 0rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
  width: 7.5rem;
  height: 1.3rem;
}

.movementTypeDeposite {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movementTypeWitdraw {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movementValue {
  font-size: 18px;
}

/*! operation part */

.op {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1rem 0.5rem;
}

.operation {
  margin: 0 0px 15px 25px;
  flex-basis: 100%;
  flex: 1;
  height: 100px;
  align-items: center;
  padding: 1.2rem;
  border-radius: 1.2rem;
}

.operation h2 {
  display: block;
  margin: 5px 5px 15px 0;
}

.operation form {
  padding: 1.5rem 0rem;
}
.operation input {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 1rem;
  border: none;
  padding: 5px;
  width: 35%;
  margin-bottom: 7px;
  outline: none;
}

.operation button {
  font-size: 17px;
  background: #fff;
  border: none;
  border-radius: 5px;
  width: 20%;
  cursor: pointer;
}
.operation label {
  font-size: 12px;
  font-weight: bolder;
  margin: 25px;
}

.operationLoan label {
  display: block;
  margin-top: 5px;
}

.operationTransfer {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.operationLoan {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operationClose {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

/*! summary */
footer {
  display: flex;
  justify-content: space-between;
}
.summary {
  display: flex;
}
.summary p {
  margin-left: 8vh;
}
.sumSpan {
  font-size: 25px;
  padding: 0.4rem;
}
#income {
  color: rgb(33, 160, 33);
}
#outcome {
  color: red;
}
#interest {
  color: #bda208;
}

.summary button {
  background: none;
  border: none;
  cursor: pointer;
}

.logout {
  position: relative;
  right: 8vh;
}
